/*========================================================================================================
================================ register-popup  ===================================================================
===========================================================================================================*/


.register-popup {
  width: 100%;
  background: $blue;
  float: left;
  position: relative;
  padding: 110px 45px 30px;
  margin: 0;

  @include mq(max, 992) {
    padding: 110px 30px 30px;
  }

  @include mq(max, 768) {
    padding: 90px 15px 30px;
  }

  .modal-header {
    border: 0;

    img {
      position: absolute;
      right: 12px;
      top: -67px;
      cursor: pointer;
    }
  }


  .modal-content {
    @include border-radius(0);
    background: transparent;
    @include box-shadow(none);
    @include border-radius(0);
  }

  .modal-body {
    //memberships-form
    .memberships-form {


      h3 {
        @include opensans(regular400);
        color: $white;
        font-size: 21.49px;
        letter-spacing: 0.3px;
        line-height: 1.3;
        margin-bottom: 34px;

        @include mq(max, 992) {
          margin-bottom: 20px;
          font-size: 18px;
        }
      }

      a {
        @include opensans(regular400);
        color: $white;
        font-size: 16.44px;
        display: block;
        margin-bottom: 49px;

        @include mq(max, 992) {
          margin-bottom: 20px;
          font-size: 15px;
        }

        img {
          display: inline;
          position: relative;
          margin-right: 11px;
          top: -3px;
        }
      }

      p {
        @include biorhyme(regular400);
        font-size: 18.68px;
        color: $white;
        margin-bottom: 50px;
        text-align: left;

        @include mq(max, 992) {
          margin-bottom: 30px;
        }

        @include mq(max, 768) {
          margin-bottom: 20px;
        }
      }

      .form-group {
        margin-bottom: 40px;

        @include mq(max, 992) {
          margin-bottom: 30px;
        }
        @include mq(max, 768) {
          margin-bottom: 20px;
        }
      }

      .form-control {
        background: transparent;
        border: none;
        @include border-radius(0);
        border-bottom: 1px solid $btn-blue;
        @include opensans(regular400);
        font-size: 17px;
        color: #dfd9cb;
        padding-bottom: 15px;
      }
    }
  }

  .btn-custom{
    width: 268px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2.5px;
    padding: 9px 15px;
    margin: 39px auto;

    &:hover{
      background: darken($blue, 10%);
    }
  }
}



