//Color-Variable
$white: #fff;
$black: #000;
$red: #f00;
$blue: #1c2c4c;
$bg-body: #2a2e32;
$bg-black: #837c6e;
$footer: #222222;
$yellow: #e0a526;
$yellow-sec: #ff9c00;
$btn-blue: #7282a4;
$text-color: #616161;
$light-gray: #dfd9cb;
$light-gray2: #e7ebec;
$bg-gray: #dfe1e5;
$border: #767878;
$vertical-border: #dfdfdf;
