@import "variables";
@import "fonts";
@import "mixin";

/*=====================================================================
==========================   main-css-all-pages  =========================
========================================================================*/

body {
  float: left;
  width: auto;
  margin: 0;
  padding: 0;
  @include opensans(regular400);
  background: $bg-body;
  color: $blue;
  overflow-x: hidden;

  //selection
  ::-moz-selection {
    color: $white;
    background: $yellow;
  }

  ::selection {
    color: $white;
    background: $yellow;
  }

  //home-page
  &.home-page {
    //container
    .container {
      width: 90.5%;

      @include mq(max, 768) {
        width: auto;
      }
    }
  }

  //hiddenOverflow
  &.hiddenOverflow {
    overflow-y: hidden;
  }
}

//container
.container {
  @include mq(min, 1366) {
    width: 1253px;
  }
}

a, a:hover, a:active, a:focus, a:link, a:visited {
  text-decoration: none;
  @include transition(.5s);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, p, h1, h2, h3, h4, h5, h6, li, ul {
  margin: 0;
  padding: 0;
  transition: .5s;
}

.vertical-block {
  @include full-width;
  display: table;
  height: 100%;

  .cell {
    display: table-cell;
    vertical-align: middle;
  }
}

//btn
button, .btn, .form-control, input {
  @include border-radius(0);
  @include box-shadow(none);


  &:focus, &:active, &:visited {
    outline: none;
    @include box-shadow(none);
    @include border-radius(0);
  }
}

//delete text
del {
  position: relative;
  text-decoration: none;

  &:after {
    position: absolute;
    top: 50%;
    left: -10px;
    height: 2px;
    width: calc(100% + 20px);
    content: '';
    background: $red;
    transform: translateY(-50%);
  }
}


//main-scss
@import "header-footer";
@import "home";
@import "reflechir";
@import "reflechir-observatore";
@import "actualites";
@import "menu";
@import "medias";
@import "preloader";
@import "register-popup";
@import "slider-home";

