.slider-section {
  height: 84vh; }

.right_section {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 3;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); }

.right_section .col-md-4:nth-child(2) .border-box.active, .right_section .col-md-4:nth-child(2) .border-box:hover {
  background-color: #dfd9cb; }

.right_section .col-md-4:nth-child(2) .border-box.active h3, .right_section .col-md-4:nth-child(2) .border-box.active p, .right_section .col-md-4:nth-child(2) .border-box:hover h3, .right_section .col-md-4:nth-child(2) .border-box:hover p {
  color: #2e1410; }

.right_section .col-md-4:nth-child(3) .border-box.active, .right_section .col-md-4:nth-child(3) .border-box:hover {
  background-color: #b9a9a5; }

.right_section .col-md-4:nth-child(3) .border-box.active h3, .right_section .col-md-4:nth-child(3) .border-box.active p, .right_section .col-md-4:nth-child(3) .border-box:hover h3, .right_section .col-md-4:nth-child(3) .border-box:hover p {
  color: #2c2618; }

.slide-dimg {
  z-index: 77; }

.carousel-inner__slide {
  width: 97vw;
  position: absolute;
  top: 0;
  left: 0; }

.carousel-inner {
  position: absolute;
  width: 100%;
  height: 100vh; }

.carousel-inner__slide .left_text {
  width: calc(28% - 40px);
  padding-left: 40px; }

.carousel-inner__slide .right_image {
  margin-left: 36%;
  width: 64%;
  height: 85vh;
  position: absolute;
  -webkit-transition: all .9s;
  transition: all .9s;
  z-index: 1;
  top: 0;
  background-position: center;
  background-size: cover;
  overflow: hidden; }

.image {
  height: 100vh;
  margin-left: 70%; }

.slide_active .right_image {
  z-index: 2; }

.width0 .right_image {
  transition: width .9s;
  width: 0; }

.bg-blue {
  transition: all 1.2s;
  background-color: #1c2c4c; }

.bg-light {
  transition: all 1.2s;
  background-color: #8f807d; }

.bg-light-one {
  transition: all 1.2s;
  background-color: #dfd9cb; }

.bg-light .slide-dtext h3, .bg-light .slide-dtext h5, .bg-light .slide-dtext p {
  color: white; }

.bg-light .slide-dtext h4 {
  color: #2e1410; }

.bg-light .logo-section img {
  -webkit-filter: invert(0);
  filter: invert(0); }

.bg-light-one .slide-dtext h3, .bg-light-one .slide-dtext h5, .bg-light-one .slide-dtext p {
  color: #222; }

.bg-light-one .slide-dtext h4 {
  color: #2c2618; }

.bg-light-one .logo-section img {
  -webkit-filter: invert(1);
  filter: invert(1); }

.sliders .slick-arrow {
  display: none !important; }

.sliders .sliders__item:focus {
  outline: none !important; }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.slick-dots button {
  content: '';
  width: 5px;
  padding: 4px;
  height: 8px;
  border-radius: 50%;
  outline: none;
  border: 2px solid white;
  background: white;
  color: transparent;
  margin: 2px 5px; }

.slick-dots button:focus {
  outline: none; }

.slick-dots .slick-active button {
  border: 2px solid #000;
  background: #000; }

/*# sourceMappingURL=main.css.map */
